.manage-books-container {
  max-width: 1000px;
  margin: 0px auto;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 20px 0;
  }
  
  .button-group button {
    background-color: #fc5c5c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-group button:hover {
    background-color: #ff2020;
  }
 
  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
  }