.librarian-header {
    background-color: white;
    padding-bottom: 24px;
  }
  
  .librarian-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .librarian-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
  }
  
  .librarian-logo {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .librarian-logo img {
    height: 75px;
    padding: 10px 0;
  }
  
  .librarian-logo h1 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
  }
  
  .librarian-links {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .librarian-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    transition: color 0.3s;
  }
  
  .librarian-link:hover {
    color: #2563eb;
  }
  
  .librarian-link.active {
    color: #2563eb;
    font-weight: 600;
  }
  
  .logout-button {
    background-color: #dc3545;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: darkred;
  }
  
  .noStyleBtn {
    font-size: 24px;
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
  }

  .noStyleBtn:hover {
    color: #2563eb;
    cursor: pointer;
  }

  .notificationScroll {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .notifBox {
    max-width: 500px;
    max-height: 120px;
    padding: 8px 12px;
    border: 2px solid #e5e7eb;
    /* border-bottom: none; */
    border-radius: 6px;
    margin-bottom: 4px;
  }

  .notifBoxUnread:hover {
    background-color: #fbfbfc;
    cursor: pointer;
  }

  .dateNotif {
    margin: 0px;
    font-size: 14px;
    font-weight: 200;
  }

  .unreadNotifDot {
    color: #e74c3c;
    font-size: 28px;
    padding: 0px;
    margin: 0px;
  }

  .unreadNotifTitle {
    color: #e74c3c;
  }

  .notifHeader {
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #2563eb; */
    padding: 8px;
    border-bottom: 1px solid #e5e7eb;
  }

  .notifHeader div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notifBody {
    max-width: 95%;
    margin: 0px auto;
    text-align: left;
    margin-bottom: 4px;
  }

  .redAlert {
    color: #e74c3c;
  }

  .readNotifBox {
    color: #5e5e5e;
    font-weight: 200;
  }

  .blahblah {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    /* justify-content: center; */
    background-color: #2563eb;
    /* max-height: 40px; */
  }

  .noSpacing {
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
  }

  #forUnread {
    /* background-color: #2563eb; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }