.checkout-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeInOverlay 0.3s ease-in-out;
}

.checkout-modal {
    background: #ffffff;
    padding: 32px;
    border-radius: 16px;
    width: 95%;
    max-width: 500px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    animation: slideUpFade 0.4s ease;
    position: relative;
    font-family: "Segoe UI", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    display: flex;
    justify-content:center;
    font-size: 80px;
    /* padding-bottom: 20px; */
}

.checkout-header {
    display: flex;
    justify-content:center;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.checkout-header h2 {
    font-size: 24px;
    margin: 0;
    color: #111827;
}

.checkout-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkout-body p {
    font-size: 16px;
    text-align: center;
    margin: 0px;
    color: #374151;
}

#subtext {
    font-size: 12px;
    margin-top: 24px;
    color: #2563eb;
}