.fadeInAmnimation {
    animation: fade-in 0.5s ease;
}

.bookBtnContainer {
    width: 70%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bookCardBtn {
    margin-top: 8px;
    width: 40%;

    font-size: 18px;

    height: 28px;
    padding: 4px 4px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: transparent;
}

.bookCardBtn:hover {
    color: #2563eb;
    border: 1px solid #2563eb;
    cursor: pointer;
}

.nothingFoundMsg {
    width: 100%;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.alignDeviceInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.editDeviceDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 20px;
    padding: 20px;
}

.deviceCardEdit {
    max-width: 300px;
}

.bookCataloguebtmPadding {
    margin-bottom: 4px;
}

.confirm-button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
}

.shortenCatalogueForm {
    max-width: 400px;
    border: none;
    box-shadow: none;
    margin-top: 0px;
}

.entryInput {
    width: 360px;
}

.alignMeLeft {
    text-align: left;
    padding-left: 12px;
}

.makeMeBigger {
    width: 390px;
}

.removeLeft {
    margin-left: 0px;
}

.redDelete {
    color: red;
    border: 1px solid red;
}